<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ page.publication }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="https://eurunuela.github.io/OHBM_2020#scope">Scope of this work</a></li>
            <li><a href="https://eurunuela.github.io/OHBM_2020#formulation">Formulation</a></li>
            <li><a href="https://eurunuela.github.io/OHBM_2020#regularization-paths">Regularization paths</a></li>
            <li><a href="https://eurunuela.github.io/OHBM_2020#stability-selection">Stability Selection</a></li>
            <li><a href="https://eurunuela.github.io/OHBM_2020#benchmarking">Benchmarking</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
